mixin column1(item, link)
	li: a(href=link target='_blank' class='foot-icon')=item

mixin column2(item, link)
	li: a(href=link target='_blank' class='foot-icon')=item

mixin column3(item, link)
	li: a(href=link target='_blank' class='foot-icon')=item

mixin connect(icon, link, alt)
	li 
		a(href=link target='_blank' class='foot-icon')
			img(src=icon, alt=alt)

div(class='ed-container')
	div(class='ed-item')
		a(href='./')
			img(src='assets/img/logo-fanattic.jpg', alt='')
		a(href="")  email us: support@fanattic.bet
div(class='ed-grid m-grid-2 lg-grid-4 row-gap')
	ul.data-list
		-for(var i = 0; i < column1.length ; i++)
			-var item = column1[i]
			+column1(item.item, item.link)
	ul.data-list
		-for(var i = 0; i < column2.length ; i++)
			-var item = column2[i]
			+column2(item.item, item.link)
	ul.data-list
		-for(var i = 0; i < column3.length ; i++)
			-var item = column3[i]
			+column3(item.item, item.link)
	ul.data-list
		h5 Connect 
		-for(var i = 0; i < connect.length ; i++)
			-var item = connect[i]
			+connect(item.icon, item.link)
