mixin card(image, alt, field) 
	div
		div(class='tns-single__content'): img(src=image alt=alt class='tns-single__img' )
			

div(class='container')
	div(class='container__slider')
		div(class='tns-single' id='tnsSingle')
			-for(var i = 0; i < slider.length; i++)
				if(slider[i].field)
					div
						div(class='tns-single__content'): img(src=slider[i].image alt=slider[i].alt class='tns-single__img' )
						div
							-for(var j = 0; j < slider[i].field.length; j++)
								p= slider[i].field[j]
							a(href=slider[i].link)= slider[i].linkText
				else
					+card(slider[i].slider)
						
					



